<!DOCTYPE html> 
<htxml"http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/baseAdmin.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
<header th:replace="Fragments/baseAdmin.html:: header"></header>
	
	<!-- Page content -->
    <div class="stile-content stile-padding-large stile-margin-top">
        <div style="margin-bottom: 200px;"  class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top">
        <div style="display: flex; justify-content: space-between;">
        	<p>Lista Clienti registrati</p>
        	<p><button class ="bottone" id="myBtn">Aggiungi</button></p>
        </div>
                    <!-- The Modal -->
				<div id="myModal" class="modal">
				
				  <!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">&times;</span>
				    <div>
				      <form th:action="@{/registerAdmin}" method="POST">
			                <label for="fname" class="scritte">Nome</label>
			                <input type="text" id="fname" name="nome" placeholder="Nome" required>
			            
			                <label for="lname" class="scritte">Cognome</label>
			                <input type="text" id="lname" name="cognome" placeholder="Cognome" required>
			                
			                <label for="lname" class="scritte">Telefono</label>
			                <input type="tell" minlength="10" maxlength="10" pattern="[0-9]+" id="lname" name="numero" placeholder="Numero">
			                
			                <label for="lname" class="scritte" >Username</label>
			                <input type="text" id="lname" name="username" required>
			                
			                <label for="lname" class="scritte">Password</label>
			                <input type="password" id="lname" name="password" required>
			
			                <input type="submit" value="Registrati">
			           </form>
				    </div>
				  </div>
				</div>
            <hr>
             <div>
			    <table>
			        <thead>
			            <tr>
			                <th>Nome</th>
			
			                <th>Cognome</th>
			
			                <th>Numero</th>
			                <th></th>
			                <th></th>
			
			            </tr>
			        </thead>
			        <tbody>
			        <div th:each="t : ${anagrafica}">
			            <tr>
			                <td th:text="${t.nome}"></td>
			                <td th:text="${t.cognome}"></td>
			                <td th:text="${t.numero}"></td>
			                <td style="text-align: center;"> 
			                <a style="color: rgb(128, 128, 128);" th:href="'aggiornaUtente/'+ ${t.id}" class="material-icons">manage_accounts</a></td>
			                <td style="text-align: center;"> 
			                <a style="color: red;" th:href="'eliminaUtente/'+${t.id}" class="material-icons">delete</a> </td>
			            </tr>
			        </div>
			        </tbody>
			    </table>
			</div>
        </div>
      </div>  
        
        
        
        
        
    <!-- End page content -->
	</body>
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");
		
		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
	</script>
</html>