<htxml xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/baseAdmin.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
	<header th:replace="Fragments/baseAdmin.html:: header"></header>

	
	<!-- Page content -->
    <div class="stile-content stile-padding-large stile-margin-top">
        <!-- Contact -->
        <div class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top">
        <div style="display: flex; justify-content: space-between;">
        	<p>Lista Meccanici</p>
        	<p><button class ="bottone" id="myBtn">Aggiungi</button></p>
        </div>
            <!-- The Modal -->
				<div id="myModal" class="modal">
				
				  <!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">&times;</span>
				    <div>
				      <form  th:action="@{/NuovoMeccanico}" method="POST" th:object="${meccanico}">
                            <div>
                            	<label for="name">Nome Meccanico</label>
                            	<input id="name" type="text" th:field="*{nome}"  placeholder=" Name">
                            
                            </div>
                            <div>
                            	<label for="cognome">Cognome</label>
                            	<input id="cognome" type="text" th:field="*{cognome}" placeholder="Cognome">
                  
                            </div>
                            <div style="max-height: 200px; overflow: auto;">
                            <table>
						        <thead>
						            <tr>
						                <th></th>
						
						                <th>Tipologia Interventi</th>
						            </tr>
						        </thead>
						        <tbody>
							        <div th:each="t : ${tipi}">
							            <tr>
							                <td ><input th:field="*{interventi}" th:value="${t.id}" type="checkbox" name="table_radio" checked="checked"/></td>
							                <td th:text="${t.nome}"></td>
							            </tr>
							        </div>
						        </tbody>
						    </table>
                            </div>
                            <br>
                            <input type="submit" value="Aggiungi">
                        </form>
				    </div>
				  </div>
				</div>
            <hr>
             <div>
             <span class="errore" th:if="${#fields.hasErrors('meccanico.nome')}" th:errors="${meccanico.nome}" ></span><br>
             <span class="errore" th:if="${#fields.hasErrors('meccanico.cognome')}" th:errors="${meccanico.cognome}" ></span>
			    <table>
			        <thead>
			            <tr>
			                <th>Nome</th>
			
			                <th>Cognome</th>
			
			                <th>Abilitazioni Interventi</th>
			
			            </tr>
			        </thead>
			        <tbody>
			        <div th:each="t : ${listaMeccanico}">
			            <tr>
			                <td th:text="${t.nome}"></td>
			                <td th:text="${t.cognome}"></td>
			                <td><p th:each="i : ${t.interventi}" th:text="${i.nome}"></p></td>
			            </tr>
			        </div>
			        </tbody>
			    </table>
			</div>
        </div>
    </div>
	</body>
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");
		
		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
	</script>
</html>