<!DOCTYPE html> 
<htxml"http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/user.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
	<header th:replace="Fragments/user.html:: header"></header>
	
<!-- Page content -->
    <div class="stile-content stile-padding-large stile-margin-top">
        <!-- Contact -->
        <div class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top" th:object="${utente}">
			
	                <label class="scritte">Nome</label>
	                <input type="text" th:value="*{nome}" readonly="readonly">
	            
	                <label  class="scritte">Cognome</label>
	                <input type="text" th:value="*{cognome}" readonly="readonly">
	                
	                <label class="scritte">Telefono</label>
	                <input type="text" th:value="*{numero}" readonly="readonly">
	                
	                <p><button style="background-color: rgb(128, 255, 0);" class ="bottone"><a style="color: black;" th:href="@{/index}">Home</a></button></p>
	                
        </div>
     </div>   
     <footer th:replace="Fragments/base.html:: footer"></footer>
	</body>
</html>