		body {
			margin :0;
			font-size: 28px;
		}
		
		ul {
			display: flex;
			justify-content: center;
			list-style-type: none;
			margin: 0;
			padding: 0;
			top: 0;
		}
		
		li {
			float: left;
		}

		li a ,li .dropdown a{
			display: block;
			color: white;
			text-align: center;
			padding: 20px 20px;
			text-decoration: none;
		}
		
		li .hover:hover , .dropdown:hover .dropbtn, .dropdown-content a:hover{
			background-color: rgb(238, 147, 147);
		}

		.background{
			background-image: url("/images/officina-navbar.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.titolo{
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 300px;
			color: #B3453E;
		}

		.titolo .center{
			font-size: 2em;
			text-align: center;
			padding-bottom: 50px;
		}

		.piccolo{
			font-size: 1.5em;
			text-align: center;
			margin-top: -20px;
			padding-bottom: 20px;
		}
		a img{
			margin-left: -15px;
			margin-top: -20px;
			margin-right: -25px;
			height:40px;
			width: 40px;
		}
		
		input:focus, button:focus {outline:0;}
		
		
		/* -----------------inizio Footer------------------ */

img {
    vertical-align: middle;
}

a{
	text-decoration:none;
}

p{
	margin-bottom:12px;
}

ul li{ 
	list-style:none;
}

html,body{
	font-family: 'Roboto Slab', serif;
	color:#666 /*color-text*/;
	height:100%;
	width:100%;
}

h1{
	font-size: 1.5em;
	text-align:left;
	font-weight: bold;
	color:#A24038/* primary color*/;
}

/* -----------------contenitore e contenuto ------------------ */

.contenitore .contenuto{
	max-width:1200px;
	margin:auto;
	padding: 70px 10px;
	padding-bottom: 70px;
}

/* -----------------footer html-----------------*/

footer{
	border-top: 1px solid #C99D66; /* primary-color */
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #B3453E;/* primary color*/
	color: #fff;
}

footer a{
	color:#F0776C; /* secondary-color*/
}

footer a:hover{
	color:#FF968C; /* light seconday color*/	
}

footer .credits {
	max-width:300px;
	margin:auto;
}

footer .credits a img {
  -o-transition: opacity .2 ease-in;
  -ms-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease
}

footer .credits a img:hover {
	opacity:0.6;
}

footer .social-cont .social-list {
	list-style-type: none;
	margin: 0 auto;
	padding: 10px 0;
}

footer .social-cont .social-list > li {
	margin: 8px 8px 8px 0;
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	border-radius: 6em;
	background-color:#F0776C; /* secondary-color*/
}

footer .social-cont .social-list li img {
	width: 32px
}

footer .social-cont .social-list > li:hover {
background:#FF968C; /* light seconday color*/		
}

/* -----------------inizio FORM------------------ */

input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
    
    input:focus {
      border: 3px solid #555;
    }

    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
  background-color: #45a049;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* -----------------Inizio Register------------------ */

div#verticale {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
    height: auto;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding-bottom: 5px;
 }
 
#background {
    background-image: url("/images/register.jpg");
    background-position: bottom;        
    background-repeat: no-repeat;        
    background-size: cover;        
    -webkit-filter: blur(8px);        
    height: 100%;        
    width: 100%;        
}

 .scritte{
    font-size: 20px;
 }
 
 /* -----------------Inizio DROPDOWN------------------ */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(238, 147, 147);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 
 
 /* -----------------Inizio STYLEPAGINA------------------ */
 
 .stile-padding-large {
            padding: 12px 24px!important;
        }

        .stile-margin-top {
            margin-top: 16px!important;
        }

        .stile-content {
            max-width: 980px;
        }

        .stile-content, .w3-auto {
        margin-left: auto;
        margin-right: auto;
        }

        .stile-light-grey{
        color: #000!important;
        background-color: #f1f1f1!important;
        }
        .stile-padding-32 {
            padding-top: 32px!important;
            padding-bottom: 32px!important;
        }
 
 