<!DOCTYPE html> 
<htxml"http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/base.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
	  	<td th:switch="${ROLE}">
		    <span th:case="'0'"><header th:replace="Fragments/baseAdmin.html:: header"></span>
		    <div th:case="'1'"><header th:replace="Fragments/user.html:: header"></header></div>
		    <div th:case="'3'"><header th:replace="Fragments/base.html:: header"></header></div>
		</td>
		<!-- Page content -->
	    <div class="stile-content stile-padding-large stile-margin-top">
	        <!-- Contact -->
	        <div class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top">
	            <div style="text-align: center;">
	            	<h3> LA NOSTRA STORIA</h3>
	            </div>
	            <hr>
	            <div style="display: flex;">
                	<div class="boximgstoria"></div>
                	<div class="boxstoria">
                    OFFICINASIW è la nostra autofficina di Ladispoli specializzata in interventi sulla tua auto. Mettiamo alla base del nostro servizio le esigenze del Cliente, eliminando tutte le problematiche che oggi si riscontrano nel settore auto. Grazie alla nostra esperienza abbiamo individuato il modo migliore per soddisfare i nostri clienti ponendo il rimedio a 3 questioni fondamentali: prezzo, tempo di lavorazione e certificazione dei ricambi. OFFICINASIW lavora perché l’accesso ai nostri servizi diventi per il Cliente una piacevole Esperienza da ripetere con regolarità.
                	</div>
            	</div>     
	        </div>
	    </div>     
	</body>
	<footer th:replace="Fragments/base.html:: footer"></footer>
</html>