<!DOCTYPE html> 
<htxml"http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/base.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
	  	<td th:switch="${ROLE}">
		    <span th:case="'0'"><header th:replace="Fragments/baseAdmin.html:: header"></span>
		    <div th:case="'1'"><header th:replace="Fragments/user.html:: header"></header></div>
		    <div th:case="'3'"><header th:replace="Fragments/base.html:: header"></header></div>
		</td>
		<br><div class="errore" th:if="${errore}" style="text-align: center;">
               Username o Passowrd sbagliati. Riprova
                    </div>
		<!-- Page content -->
	    <div class="stile-content stile-padding-large stile-margin-top">
	        <!-- Contact -->
	        <div class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top">
	        <div style="padding-bottom: 40px;">
	            <div style="text-align: center;">
	            	<h3> LA NOSTRA STORIA</h3>
	            </div>
	            <hr>
	            <div style="display: flex; padding-top: 40px;">
                	<div>
                		<img style="height: 300px;" src="/images/chisiamo.jpg"/>
                	</div>
                	<div class="boxstoria">
                    	OFFICINASIW è la nostra autofficina di Ladispoli specializzata in interventi sulla tua auto. Mettiamo alla base del nostro servizio le esigenze del Cliente, eliminando tutte le problematiche che oggi si riscontrano nel settore auto. Grazie alla nostra esperienza abbiamo individuato il modo migliore per soddisfare i nostri clienti ponendo il rimedio a 3 questioni fondamentali: prezzo, tempo di lavorazione e certificazione dei ricambi. OFFICINASIW lavora perché l’accesso ai nostri servizi diventi per il Cliente una piacevole Esperienza da ripetere con regolarità.
                	</div>
                </div>
	        </div>
            	<hr>
            	<div>
	            	<div style="display: flex; justify-content: space-between; padding-bottom: 40px; margin-top: 40px;">
	            		<div style="width: 50%;  text-align: center;"><span style="font-size: 150px; color: #73b7cd;" class="material-icons">time_to_leave</span><br>RICAMBI DI QUALITA'</div>
	            		<div style="width: 50%;  text-align: center;"><span style="font-size: 150px; color: #61b161;" class="material-icons">euro_symbol</span><br>PREZZI CHIARI</div>
	            	</div>
	            	<div style="display: flex; justify-content: space-between; padding-bottom: 40px; margin-top: 40px;">
	            		<div style="width: 50%;  text-align: center;"><span style="font-size: 150px; color: rgb(231, 146, 60);" class="material-icons">schedule</span><br>TAGLIANDO IN UN ORA</div>
	            		<div style="width: 50%;  text-align: center;"><span style="font-size: 150px; color: rgb(205, 101, 94);" class="material-icons">sentiment_satisfied_alt</span><br>CLIENTI SODDISFATTI</div>
	            	</div>
            	</div>
            	<hr>
            	<div>
	            	<div id="ChiSiamo" style="text-align: center;">
		            	<h3> CHI SIAMO</h3>
		            </div>
		            <hr>
	            	<div>
	            	<p>Un Team di Esperti al tuo servizio.<br>
					Siamo dei professionisti del settore, non a caso la nostra clientela fidata è la testimonianza di un lavoro svolto bene nel tempo.</p>
					<p style="font-size: 20px; text-align: center; padding-top: 40px;">Per una lista completa dei nostri servizi registrati</p>
	            	</div><br>
	            	<div><img src="https://www.christensenautomotive.com/wp-content/uploads/2020/12/DSC07223-2-1024x683.jpg" style="object-fit: cover; width: 100%; height: 360px;"/>
	            	</div>
                </div>
	        </div>
	    </div>     
	</body>
	<footer th:replace="Fragments/base.html:: footer"></footer>
</html>