<!DOCTYPE html> 
<htxml"http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/base.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
	<header th:replace="Fragments/base.html:: header"></header>
		<p>Sandalo</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
		<p>asdasdasdasddddddddddddddddddddddddd</p>
	</body>
	<footer th:replace="Fragments/base.html:: footer"></footer>
</html>