<!DOCTYPE html> 
<htxml xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head  th:replace="Fragments/user.html :: headerfiles(title='Officina')">  
	</head> 
 	
	<body>
		    <header th:replace="Fragments/user.html:: header"></header>
	
	<!-- Page content -->
    <div class="stile-content stile-padding-large stile-margin-top">
        <!-- Contact -->
        <div class="stile-light-grey stile-padding-large stile-padding-32 stile-margin-top"> 
        	<p>Lista Tipologie Intervento</p>
            <hr>
             <div>
			    <table>
			        <thead>
			            <tr>
			                <th>Nome</th>
			
			                <th>Prezzo</th>
			
			                <th>Descrizione</th>
			
			            </tr>
			        </thead>
			        <tbody>
			        <div th:each="t : ${tipi}">
			            <tr>
			                <td th:text="${t.nome}"></td>
			                <td th:text="${t.prezzo}+€"></td>
			                <td th:text="${t.Descrizione}"></td>
			            </tr>
			        </div>
			        </tbody>
			    </table>
			</div>
        </div>
        
        
        
        
        
        
    <!-- End page content -->
    </div>
	</body>
	<footer th:replace="Fragments/base.html:: footer"></footer>
</html>