<html>
   	<head th:fragment="headerfiles(title)">
	<link th:href="@{/css/base.css}" rel="stylesheet">
	</head>
	<body>
	    <div id="background"></div>
	        <div id="verticale">
	            <form th:action="@{/register}" method="POST">
	                <label for="fname" class="scritte">Nome</label>
	                <input type="text" id="fname" name="nome" placeholder="Your name" required>
	            
	                <label for="lname" class="scritte">Cognome</label>
	                <input type="text" id="lname" name="cognome" placeholder="Your last name" required>
	                
	                <label for="lname" class="scritte">Telefono</label>
	                <input type="tell" minlength="10" maxlength="10" pattern="[0-9]+" id="lname" name="numero" placeholder="Your Number">
	                
	                <label for="lname" class="scritte" >Username</label>
	                <input type="text" id="lname" name="username" required>
	                
	                <label for="lname" class="scritte">Password</label>
	                <input type="password" id="lname" name="password" required>
	
	                <input type="submit" value="Registrati">
	            </form>
	        </div>
	
	</body>
</html>